{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "ecmascript": 6,
    "blockBindings": true,
    "jsx": true,
    "modules": true,
    "classes": true
  },
  "ext": [".js", ".jsx"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "eol-last": 2,
    "camelcase": 2,
    "linebreak-style": [2, "unix"],
    "no-underscore-dangle": 0,
    "semi": [2, "always"],
    "indent": [1, 2],
    "quotes": [2, "single"],
    "react/jsx-boolean-value": 2,
    "react/jsx-quotes": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1
  },
  "plugins": [
    "react"
  ]
}
